@model iSpendWebApp.Models.ReservationViewModel
@{
    Model.UserSavings = ViewBag.Savings;
}

<div class="row">
    <div class="col-xs-12">
        <form asp-action="AddReservation" asp-controller="Savings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.AccountId)
            <div class="form-group">
                <label asp-for="SavingsId" class="control-label"></label>
                <select asp-for="SavingsId" class="form-control">
                    @foreach (var item in Model.UserSavings)
                    {
                        <option value="@item.SavingId">@item.SavingName - €@item.SavingCurrentAmount</option>
                    }
                </select>
                <span asp-validation-for="SavingsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <div class='input-group date' id='datetimepicker2'>
                    <input asp-for="Date" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'nl',
            minDate: moment()
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            locale: 'nl',
            minDate: moment()
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>