@using iSpendWebApp.Models;
@model iSpendWebApp.Models.User.UserViewModel

@{
    ViewData["Title"] = "UserDetails";
}

<h2>UserDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username:
        </dt>
        <dd>
            @Model.Username
        </dd>
        <dt>
            Email Address:
        </dt>
        <dd>
            @Model.Email
        </dd>
    </dl>
    
</div>
<div>
    <a asp-controller="User" asp-action="Edit"><input type="button" value="Edit" class="btn btn-warning" /></a>    
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>
