/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Assistant';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.drop-down { 
    position: relative;  
    display: inline-block;    
    width: auto;       
    margin-top: 0;   
    font-family: verdana;    
}      
.drop-down select {   
    display: none;    
}      
.drop-down .select-list {   
    position: absolute;     
    top: 0;      
    left: 0;     
    z-index: 1;    
    margin-top: 40px;    
    padding: 0;         
    background-color: #595959;      
}      
.drop-down .select-list li {   
    display: none;      
}    
.drop-down .select-list li span {  
    display: inline-block;      
    min-height: 40px;        
    min-width: 280px;      
    width: 100%;        
    padding: 5px 15px 5px 35px;     
    background-color: #595959;     
    background-position: left 10px center;   
    background-repeat: no-repeat;       
    font-size: 16px;       
    text-align: left;       
    color: #FFF;        
    opacity: 0.7;      
    box-sizing: border-box;     
}     
.drop-down .select-list li span:hover,  
.drop-down .select-list li span:focus {     
    opacity: 1;     
}

.ldBar {
    position: relative;
}

    .ldBar.label-center > .ldBar-label {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-shadow: 0 0 3px #fff
    }

.ldBar-label:after {
    content: "%";
    display: inline
}

.ldBar.no-percent .ldBar-label:after {
    content: ""
}