@model IEnumerable<iSpendWebApp.Models.Bill.BillViewModel>

@{
    ViewData["Title"] = "BillOverview";
}

<h2>My Bills</h2>
<hr/>
<div class="container">
    <row>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-sm-4">
                    @{
                        Html.RenderPartial("BillPartial", item);
                    }
                </div>

            }
        }
        <div class="col-sm-4">
            <div align="Center">
                <div class=" panel panel-default" style="background-color:mediumseagreen ; margin: 8px; font-weight: bold; color: white">
                    <div class="panel-body">
                        <div>
                            <input type="button" class="btn btn-default" value="+" onclick="location.href = '@Url.Action("Create", "Bill")'" style="margin-top: 12%;margin-bottom: 13%; background-color: gray;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>
<hr/>
<div class="container">
    <h2>My Saving Plans</h2>
    <row>

    </row>
</div>