@using iSpendInterfaces
@model iSpendWebApp.Models.Account.AccountViewModel
@{
    List<string> imageNames = ViewBag.FileProvider;
    var imageName = imageNames[Model.IconId];
    var imagePath = Url.Content("~/Icons/Bill/" + imageName);
    decimal reservation = 0;

    if (Model.Reservations != null)
    {
        reservation = Model.Reservations.Sum(res => res.Amount);
    }
    var reserved = Model.AccountBalance - Convert.ToDouble(reservation);
}

<div align="Center">
    <div class=" panel panel-default" style="background-color: mediumseagreen; margin: 8px; font-weight: bold; color: white">
        <div class="panel-body">
            <img src="@imagePath" /><br />

            @Html.DisplayFor(model => model.AccountName)<br />
            @Html.DisplayFor(model => model.AccountBalance)<br />
            @if (reservation > 0)
            {
                <i>€@reserved</i><br />
                <i>€@reservation is reserved</i><br />
            }
            else
            {
                <br/>
                <br/>
            }
        </div>
    </div>
</div>
